@{hidden

#line 9 "C:\Users\student\Documents\Visual Studio 2017\Projects\11_PROJECT\Soulstice\Soulstice.UI.MVC\Views\Home\Contact.cshtml"
           __o = Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" });


#line default
#line hidden

#line 10 "C:\Users\student\Documents\Visual Studio 2017\Projects\11_PROJECT\Soulstice\Soulstice.UI.MVC\Views\Home\Contact.cshtml"




#line default
#line hidden

#line 11 "C:\Users\student\Documents\Visual Studio 2017\Projects\11_PROJECT\Soulstice\Soulstice.UI.MVC\Views\Home\Contact.cshtml"
                __o = Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" });


#line default
#line hidden

#line 12 "C:\Users\student\Documents\Visual Studio 2017\Projects\11_PROJECT\Soulstice\Soulstice.UI.MVC\Views\Home\Contact.cshtml"
                __o = Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } });


#line default
#line hidden

#line 13 "C:\Users\student\Documents\Visual Studio 2017\Projects\11_PROJECT\Soulstice\Soulstice.UI.MVC\Views\Home\Contact.cshtml"
                __o = Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" });


#line default
#line hidden

#line 14 "C:\Users\student\Documents\Visual Studio 2017\Projects\11_PROJECT\Soulstice\Soulstice.UI.MVC\Views\Home\Contact.cshtml"




#line default
#line hidden

#line 15 "C:\Users\student\Documents\Visual Studio 2017\Projects\11_PROJECT\Soulstice\Soulstice.UI.MVC\Views\Home\Contact.cshtml"
                __o = Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label col-md-2" });


#line default
#line hidden

#line 16 "C:\Users\student\Documents\Visual Studio 2017\Projects\11_PROJECT\Soulstice\Soulstice.UI.MVC\Views\Home\Contact.cshtml"
                __o = Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control" } });


#line default
#line hidden

#line 17 "C:\Users\student\Documents\Visual Studio 2017\Projects\11_PROJECT\Soulstice\Soulstice.UI.MVC\Views\Home\Contact.cshtml"
                r          __o = Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" });


#line default
#line hidden

#line 18 "C:\Users\student\Documents\Visual Studio 2017\Projects\11_PROJECT\Soulstice\Soulstice.UI.MVC\Views\Home\Contact.cshtml"




#line default
#line hidden

#line 19 "C:\Users\student\Documents\Visual Studio 2017\Projects\11_PROJECT\Soulstice\Soulstice.UI.MVC\Views\Home\Contact.cshtml"
                __o = Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" });


#line default
#line hidden

#line 20 "C:\Users\student\Documents\Visual Studio 2017\Projects\11_PROJECT\Soulstice\Soulstice.UI.MVC\Views\Home\Contact.cshtml"
                __o = Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } });


#line default
#line hidden

#line 21 "C:\Users\student\Documents\Visual Studio 2017\Projects\11_PROJECT\Soulstice\Soulstice.UI.MVC\Views\Home\Contact.cshtml"
                __o = Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" });


#line default
#line hidden

#line 22 "C:\Users\student\Documents\Visual Studio 2017\Projects\11_PROJECT\Soulstice\Soulstice.UI.MVC\Views\Home\Contact.cshtml"




#line default
#line hidden

#line 23 "C:\Users\student\Documents\Visual Studio 2017\Projects\11_PROJECT\Soulstice\Soulstice.UI.MVC\Views\Home\Contact.cshtml"



#line default
#line hidden

#line 24 "C:\Users\student\Documents\Visual Studio 2017\Projects\11_PROJECT\Soulstice\Soulstice.UI.MVC\Views\Home\Contact.cshtml"

            }

#line default
#line hidden

#line 25 "C:\Users\student\Documents\Visual Studio 2017\Projects\11_PROJECT\Soulstice\Soulstice.UI.MVC\Views\Home\Contact.cshtml"
            __o = Html.ActionLink("Back to List", "Index");


#line default
#line hidden
DefineSection("Scripts", () => {


#line 26 "C:\Users\student\Documents\Visual Studio 2017\Projects\11_PROJECT\Soulstice\Soulstice.UI.MVC\Views\Home\Contact.cshtml"
                __o = Scripts.Render("~/bundles/jqueryval");


#line default
#line hidden
            });


#line 27 "C:\Users\student\Documents\Visual Studio 2017\Projects\11_PROJECT\Soulstice\Soulstice.UI.MVC\Views\Home\Contact.cshtml"
                                using (Html.BeginForm())
                                {
                                    

#line default
#line hidden

#line 28 "C:\Users\student\Documents\Visual Studio 2017\Projects\11_PROJECT\Soulstice\Soulstice.UI.MVC\Views\Home\Contact.cshtml"
                               __o = Html.AntiForgeryToken();


#line default
#line hidden

#line 29 "C:\Users\student\Documents\Visual Studio 2017\Projects\11_PROJECT\Soulstice\Soulstice.UI.MVC\Views\Home\Contact.cshtml"
                                                            
                                    

#line default
#line hidden

#line 30 "C:\Users\student\Documents\Visual Studio 2017\Projects\11_PROJECT\Soulstice\Soulstice.UI.MVC\Views\Home\Contact.cshtml"
                                       __o = Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control mb-30", placeholder = "Your Name" } });


#line default
#line hidden

#line 31 "C:\Users\student\Documents\Visual Studio 2017\Projects\11_PROJECT\Soulstice\Soulstice.UI.MVC\Views\Home\Contact.cshtml"
                                       __o = Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" });


#line default
#line hidden

#line 32 "C:\Users\student\Documents\Visual Studio 2017\Projects\11_PROJECT\Soulstice\Soulstice.UI.MVC\Views\Home\Contact.cshtml"
                                       __o = Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control mb-30", placeholder = "Your Email" } });


#line default
#line hidden

#line 33 "C:\Users\student\Documents\Visual Studio 2017\Projects\11_PROJECT\Soulstice\Soulstice.UI.MVC\Views\Home\Contact.cshtml"
                                       __o = Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" });


#line default
#line hidden

#line 34 "C:\Users\student\Documents\Visual Studio 2017\Projects\11_PROJECT\Soulstice\Soulstice.UI.MVC\Views\Home\Contact.cshtml"
                                       __o = Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control", placeholder = "Your Message" } });


#line default
#line hidden

#line 35 "C:\Users\student\Documents\Visual Studio 2017\Projects\11_PROJECT\Soulstice\Soulstice.UI.MVC\Views\Home\Contact.cshtml"
                                       __o = Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" });


#line default
#line hidden

#line 36 "C:\Users\student\Documents\Visual Studio 2017\Projects\11_PROJECT\Soulstice\Soulstice.UI.MVC\Views\Home\Contact.cshtml"
                                          
            }

#line default
#line hidden

#line 25 "C:\Users\student\Documents\Visual Studio 2017\Projects\11_PROJECT\Soulstice\Soulstice.UI.MVC\Views\Home\Contact.cshtml"
            __o = Html.ActionLink("Back to List", "Index");


#line default
#line hidden
DefineSection("Scripts", () => {


#line 26 "C:\Users\student\Documents\Visual Studio 2017\Projects\11_PROJECT\Soulstice\Soulstice.UI.MVC\Views\Home\Contact.cshtml"
                __o = Scripts.Render("~/bundles/jqueryval");


#line default
#line hidden
            });


#line 27 "C:\Users\student\Documents\Visual Studio 2017\Projects\11_PROJECT\Soulstice\Soulstice.UI.MVC\Views\Home\Contact.cshtml"
                                using (Html.BeginForm())
                                {
                                    

#line default
#line hidden

#line 28 "C:\Users\student\Documents\Visual Studio 2017\Projects\11_PROJECT\Soulstice\Soulstice.UI.MVC\Views\Home\Contact.cshtml"
                               __o = Html.AntiForgeryToken();


#line default
#line hidden

#line 29 "C:\Users\student\Documents\Visual Studio 2017\Projects\11_PROJECT\Soulstice\Soulstice.UI.MVC\Views\Home\Contact.cshtml"
                                                            
                                    

#line default
#line hidden

#line 30 "C:\Users\student\Documents\Visual Studio 2017\Projects\11_PROJECT\Soulstice\Soulstice.UI.MVC\Views\Home\Contact.cshtml"
                                       __o = Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Your Name" } });


#line default
#line hidden

#line 31 "C:\Users\student\Documents\Visual Studio 2017\Projects\11_PROJECT\Soulstice\Soulstice.UI.MVC\Views\Home\Contact.cshtml"
                                       __o = Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" });


#line default
#line hidden

#line 32 "C:\Users\student\Documents\Visual Studio 2017\Projects\11_PROJECT\Soulstice\Soulstice.UI.MVC\Views\Home\Contact.cshtml"
                                          
}

<div class="breadcrumb-area contact-breadcrumb bg-img bg-overlay jarallax" style="background-image: url(../Content/img/bg-img/18.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-content text-center mt-100">
                    <h2 class="page-title">Contact Us</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Area End -->
<!-- Google Maps & Contact Info Area Start -->
<section class="google-maps-contact-info">
    <div class="container-fluid">
        <div class="google-maps-contact-content">
            <div class="row">
                <!-- Single Contact Info -->
                <div class="col-6 col-lg-3">
                    <div class="single-contact-info">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <h4>Phone</h4>
                        <p>+01-234-567-890</p>
                    </div>
                </div>
                <!-- Single Contact Info -->
                <div class="col-6 col-lg-3">
                    <div class="single-contact-info">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <h4>Address</h4>
                        <p>Iris Watson, 283 Fusce Rd,NY</p>
                    </div>
                </div>
                <!-- Single Contact Info -->
                <div class="col-6 col-lg-3">
                    <div class="single-contact-info">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <h4>Open time</h4>
                        <p>10:00 am to 23:00 pm</p>
                    </div>
                </div>
                <!-- Single Contact Info -->
                <div class="col-6 col-lg-3">
                    <div class="single-contact-info">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        <h4>Email</h4>
                        <p>Info.colorlib@@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="roberto-contact-form-area">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <!-- Section Heading -->
                            <div class="section-heading text-center wow fadeInUp" data-wow-delay="100ms">
                                <h6>Contact Us</h6>
                                <h2>Leave Message</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <!-- Form -->
                            <div class="roberto-contact-form">
                                <form action="#" method="post">
                                    <div class="row">
                                        <div class="col-12 col-lg-6 wow fadeInUp" data-wow-delay="100ms">
                                            <input type="text" name="message-name" class="form-control mb-30" placeholder="Your Name">
                                        </div>
                                        <div class="col-12 col-lg-6 wow fadeInUp" data-wow-delay="100ms">
                                            <input type="email" name="message-email" class="form-control mb-30" placeholder="Your Email">
                                        </div>
                                        <div class="col-12 wow fadeInUp" data-wow-delay="100ms">
                                            <textarea name="message" class="form-control mb-30" placeholder="Your Message"></textarea>
                                        </div>
                                        <div class="col-12 text-center wow fadeInUp" data-wow-delay="100ms">
                                            <button type="submit" class="btn roberto-btn mt-15">Send Message</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</section>
<!-- Contact Info Area End -->
<!-- Contact Form Area Start -->
@*<div class="roberto-contact-form-area section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading -->
                <div class="section-heading text-center wow fadeInUp" data-wow-delay="100ms">
                    <h6>Contact Us</h6>
                    <h2>Leave Message</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- Form -->
                <div class="roberto-contact-form">
                    <form action="#" method="post">
                        <div class="row">
                            <div class="col-12 col-lg-6 wow fadeInUp" data-wow-delay="100ms">
                                <input type="text" name="message-name" class="form-control mb-30" placeholder="Your Name">
                            </div>
                            <div class="col-12 col-lg-6 wow fadeInUp" data-wow-delay="100ms">
                                <input type="email" name="message-email" class="form-control mb-30" placeholder="Your Email">
                            </div>
                            <div class="col-12 wow fadeInUp" data-wow-delay="100ms">
                                <textarea name="message" class="form-control mb-30" placeholder="Your Message"></textarea>
                            </div>
                            <div class="col-12 text-center wow fadeInUp" data-wow-delay="100ms">
                                <button type="submit" class="btn roberto-btn mt-15">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>*@
<!-- Contact Form Area End -->
