@model Soulstice.UI.MVC.Models.IndexViewModel
@{
    ViewBag.Title = "Manage your account";
}

<div class="form-horizontal" id="contentContainer">
    <div id="editContainer">
        <h2 class="text-center">@ViewBag.Title</h2>
        <div class="col-md-12 text-center mt-50 pb-5">
                @(Model.HasPassword ? Html.ActionLink("Change your password", "ChangePassword")
                                            : Html.ActionLink("Pick a password", "SetPassword"))         
        </div>
    </div>
</div>